<?xml version="1.0"?><Configuration><StartupDatabase>QuestforGlory.xml</StartupDatabase><DOSBoxPath>C:\Apps\DOSBox</DOSBoxPath><ScummVMPath>C:\Apps\scummvm\dev</ScummVMPath><TitleWindow>%APP - %GAME</TitleWindow><XMLDBPath>%CURDIR\XML\</XMLDBPath><GameArtPath>%CURDIR\GameArt\</GameArtPath><CloseOnSave>False</CloseOnSave><HideDB>False</HideDB><LastDBonExit>True</LastDBonExit><ShowGameArt>True</ShowGameArt></Configuration>